.navbar{
    padding: var(--main-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img{
    width: 96px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-menu a{
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}

.cta-button{
    background: var(--primary);
    text-transform: uppercase;
    padding: 21px 30px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    color: #000000;
    font-size: .9rem;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .navbar{
        flex-direction: column;
        gap: 20px;
    }
    
    .navbar-menu{
        justify-content: space-between;    
        width: 100%;
        gap: 0;
    }

    .cta-button{
        width: 100%;
        margin-top: 62px;
    }

    .navbar-menu a{
        background:#67676763;
        padding: 6px 10px;
        font-size: .7rem;
        border-radius: 30px;
    }
}